html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------- */

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom; }

 /* ---- particles.js container ---- */ 
 
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
 
 /* ---- stats.js ---- */ 
  
  .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
  .js-count-particles{ font-size: 1.1em; } 
  #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
  .count-particles{ border-radius: 0 0 3px 3px; }

/* ---------------------------------------------- */

.wrapper {
    width: 400px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    color: #000;
    background-color: #d8d9db;
    border: none;
    width: 24.6%;
    font-size: 60px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}


.double {
    flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: #fff;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}
 